@media screen and (max-width: 1023px) {
  @mixin platformIconMixin($width, $height,$left) {
    width: $width;
    height: $height;
    left:$left;
    border-radius: 10px;
    cursor: pointer;
    bottom: -50px;
    display: none !important;
    &.active {
      display: block !important;
    }
  }
  .icon-container{
    top:10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    .elo-icon {
      @include platformIconMixin(18px, 18px,23px);
    }
    .afreeca-icon {
      @include platformIconMixin(18px, 18px,0px);
    }
  }
}